header {
    display: flex;
    justify-content: space-between;
    padding: 8px 24px 8px 100px;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    background-color: #fff;
}

header a {
    text-decoration: none;
    color: #263238;
    font-weight: 500;
}

header a:hover {
    color: #FFC13E;
    text-decoration: none #FFC13E;
}

.nav-container {
    display: flex;
    align-items: center;

    gap: 56px;
}

header nav {
    display: flex;
    align-items: center;
    gap: 32px;
}

.language-selector {
    display: flex;
    gap: 10px;
    align-items: center;
}

.language-button {
    display: flex;
    align-items: center;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1rem;
}

.hamburger {
    display: none;
    background: none;
    border: none;
}

@media screen and (max-width: 992px) {
    header {
        position: relative;
        justify-content: space-between;
        padding: 8px 24px;
    }

    .hamburger {
        display: block;
        color: #14212a;
        font-size: 24px;
    }
    
    .nav-container {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 80px;
        right: 24px;
        padding: 32px;
        background-color: #fff;
        border-radius: 8px;
        box-shadow: 0 0 16px #26323829;
    }

    .nav-container.open {
        display: flex;
    }

    .nav-container a, .nav-container .language-selector, .nav-container button {
        font-size: 16px;
    }
    
}